{% extends "base.html" %}

{% block page_content %}

<h1>{{project.title}}</h1>
<!-- <div class = "row">
    <div class = "col-md-8">
        {% if project.image %}
            <img src="{{ project.image.url }}" width="100%">
        {% endif %}
    </div>
    <div class="col-md-4">
        <h5>About the projects:</h5>
        <p>
            {{project.description}}
        </p>
        <br>
        <h5>Technology used:</h5>
        <p>{{project.technology}}</p>
    </div>
</div> -->

<div class = "project">
    <ul class="project-list">
        <li class="project-item"><div class="project-content">Item 1</div></li>
        <li class="project-item"><div class="project-content">Item 2</div></li>
        <li class="project-item"><div class="project-content">Item 3</div></li>
        <li class="project-item"><div class="project-content">Item 4</div></li>
        <li class="project-item"><div class="project-content">Item 5</div></li>
        <li class="project-item"><div class="project-content">Item 6</div></li>
        <li class="project-item"><div class="project-content">Item 7</div></li>
        <li class="project-item"><div class="project-content">Item 8</div></li>
    </ul>
</div>
{% endblock page_content %}
